h1 {
    color: black;
    background-color: brown;
    font-size: xx-large;
}

body {
    font-family: Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-image:'background.jpg'; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 50%;
    height: auto;
}

#carouselImage {
    transition: opacity 2s ease-in-out;
    opacity: 1;
    height: 400px; /* Fixed height */
    width: 400px; /* Width adjusts to maintain aspect ratio */
    object-fit: fill; /* Prevents image distortion */
    display: block;
    margin: auto;
}
